# Generating Call Graph

In [1]:
import pandas as pd

from colassigner import ColAssigner, get_cr_graph

In [4]:
class RawCols(ColAssigner):

    icol1 = int
    fcol1 = float

In [5]:
class CalcedCols(ColAssigner):
    def compcol1(self, df):
        return df.loc[:, RawCols.fcol1] + df.loc[:, RawCols.icol1]

    def modcol1(self, df):
        return df.loc[:, RawCols.fcol1] / 2

    def compcol2(self, df):
        return df.loc[:, RawCols.icol1] * df.loc[:, CalcedCols.modcol1]

In [6]:
df_base = pd.DataFrame(
    {
        RawCols.icol1: [1, 1, 2, 3, 0, 1, 2, 3, 5, 4],
        RawCols.fcol1: [0.4, 0.2, 1.2, 3.1, 3.0, 0.1, 0.9, 4.1, 9.0, 3.2],
    }
)

In [7]:
df_base

   icol1  fcol1
0      1    0.4
1      1    0.2
2      2    1.2
3      3    3.1
4      0    3.0
5      1    0.1
6      2    0.9
7      3    4.1
8      5    9.0
9      4    3.2

In [8]:
df = df_base.assign(**CalcedCols())

In [9]:
df

   icol1  fcol1  compcol1  modcol1  compcol2
0      1    0.4       1.4     0.20      0.20
1      1    0.2       1.2     0.10      0.10
2      2    1.2       3.2     0.60      1.20
3      3    3.1       6.1     1.55      4.65
4      0    3.0       3.0     1.50      0.00
5      1    0.1       1.1     0.05      0.05
6      2    0.9       2.9     0.45      0.90
7      3    4.1       7.1     2.05      6.15
8      5    9.0      14.0     4.50     22.50
9      4    3.2       7.2     1.60      6.40

In [10]:
pd.DataFrame(get_cr_graph())

                    to                from
0  CalcedCols.compcol1       RawCols.fcol1
1  CalcedCols.compcol1       RawCols.icol1
2   CalcedCols.modcol1       RawCols.fcol1
3  CalcedCols.compcol2       RawCols.icol1
4  CalcedCols.compcol2  CalcedCols.modcol1